[submodule "kaniko"]
	path = kaniko
	url = https://github.com/art-community/kaniko

[submodule "panel/src/main/web/src/framework"]
	path = panel/src/main/web/src/framework
	url = https://github.com/art-community/art-react
